@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "variables";

.apply-section {
    background-image: url('../images/apply.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.apply-wrapper {
    padding-top: calc(6vw);
    padding-bottom: calc(8vw);
}

.roles-wrapper {
    margin-left: 25vw;
    margin-right: 25vw;
}

.apply-p {
    font-size: 20px;
    color: $main-white-color;
    font-family: 'Poppins', sans-serif;
}

.role {
    @include roles;
}

@media only screen and (max-width: 500px) {
    .role {
        font-size: 20px;
    }
}

.role-builder {
    color: $secondary-purple-color !important;
    border-color: $secondary-purple-color !important;
}

.role-graphic {
    color: $secondary-orange-color !important;
    border-color: $secondary-orange-color !important;
}

.role-render {
    color: $secondary-green-color !important;
    border-color: $secondary-green-color !important;
}

.form-wrapper {
    border: 2px solid transparent;
}

.label-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: $main-white-color;
}

input {
    border: 1px solid $light-green-color;
    color: $main-white-color;
    background: transparent;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    text-align: start;
    outline: none;
    display: flex;
    font-size: 24px;
    text-indent: 10px
}

input::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: $gray-color;
}

input:focus {
    border-color: $main-white-color;
    color: $main-white-color;
}

.form-button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: $main-white-color;
    text-transform: uppercase;
    border: 1px solid $light-green-color;
    background-color: $darker-green-color;
    border-radius: 30px;
    padding: 7px 25px;
}

.form-button:hover {
    background-color: $light-green-color;
}

textarea {
    border: 1px solid $light-green-color;
    border-radius: 30px;
    background-color: transparent;
    padding: 10px;
    resize: none;
    outline: none;
    font-size: 24px;
    text-indent: 10px
}

textarea::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: $gray-color;
}

textarea:focus {
    border-color: $main-white-color;
    color: $main-white-color;
}

.paragraph-color {
    color: $paragraph-color;
}